doctype html
html
	head
		title Chat
		link(rel="stylesheet", href="style.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="delivery.js")
		script(src="script.js")
		


	body
			div#header-menu
				ul#headerMenuUl
					
					li#usernameHolder Welcome  
						span.usernameSpan

			div.container#main
					
					div.row#right-container
							
							div.col-lg-4.col-md-5.col-sm-6#usersList
										section.tile.transparent
													
													div.tile-body.color.transparent-black.rounded-bottom-corners.nopadding
																		ul.chat-inbox#chat-inbox

							
																				

							div.col-lg-8.col-md-7.col-sm-6#msgContainer
										section.tile.transparent
													
													div.tile-body.color.transparent.rounded-bottom-corners.nopadding
																	div.chat-content#chat-content
																				ul.chat-list
																				div.hasTyping 
																						
													div.tile-footer.transparent.nopadding 
															div.chat-reply#chat-reply
																	textarea#messageInput(placeholder="Type your message here.....")

																	
																div.sendButtonContainer
																	div.btn-group.btn-group-sm
																			button(type="button")#whisperbtn.btn.btn-transparent-white.last  whisper someone

																			button(type="button")#submit.btn.btn-transparent-white.last Send
							

							

			div.modal.fade#modalPseudo
					div.modal-dialog
						div.modal-content
								div.modal-header
									h3 Choose a name
								div.modal-body
									p Choose a name :
									input(type='text')#pseudoInput.form-control
									div.alert.alert-error#alertPseudo
										| This name is already used ! Choose another one.
								div.modal-footer
									button.btn.btn-primary#pseudoSubmit Go to the chat


			div.modal.fade#whisperPeopleList
					div.modal-dialog
						div.modal-content
								div.modal-header
									h3 Choose a person you wish to whisper
								div.modal-body
									p Choose a name :
									select#whisperList.form-control
									div.alert.alert-error#alertPseudo
										| This name is already used ! Choose another one.
									P Message :
									textarea#whisperMessageInput(placeholder="Type your message here.....")

								div.modal-footer
									button.btn.btn-primary#SubmitWhisper whisper









